<div id="nav-bar" [style.backgroundColor]="backgroundcolor" >
    <div class="header-title" routerLink="/">School Management</div>
    <ul>
       <li><a routerLink="/home">Home</a></li> 
        <li><a routerLink="/admin">Admin</a></li>
        <li><a routerLink="/teachers">Teacher</a></li> 
        <li><a routerLink="/student-list">Student</a></li>
    </ul>
    <div class="common">
        <div style="padding-right: 5px;"><a routerLink="/aboutus">About Us</a></div>
        <div><a routerLink="/contactus">Contact Us</a></div>
    </div>
   </div>
   