table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
    margin:10px;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  p{
    margin-left: 10px;
  }
 